@model DyyshWebApplication.Models.Image


@if (Model != null)
{
    <div id="img-container" style="display: block; margin-left: auto; margin-right: auto;">
        <a href="@Url.Content(Model.Path)" style="display:inherit; margin:inherit; width:auto">
            <img id="image" src="@Url.Content(Model.Path)" style="display:inherit; margin:inherit;" />
        </a>
    </div>
}
else
{
        <p class="text-danger" style="margin-top:30px; font-size:xx-large;">Image deleted or expired</p>
}

