<h2>Application</h2>

<p>Written in: C#</p>

<p>Technologies used: WPF / ASP.NET MVC 5, Entity Framework 6 with MySql Database</p>

<p>Source code: <a href="#">#LINK</a></p>

<p> This app was made solely on purpose of learning about .NET Framework and sharpening my skills. 
    Specifically I was curious about making a set of applications that communicate with each other and have some usability for others 
    (my friends for example, they are actually using it).</p>

<p> There are many applications that do screen capture and publishing, this one was inspired by <a href="http://puush.me/">Puush</a> and <a href="http://clip2net.com/en/">Clip2Net</a>. 
    Both of them are cool but with their own disadvantages. Like Puush does not have image editor and Clip2Net has way too much features.
    My idea was to make something similar but different, like "What if I combine simplicity of Puush and awesome image editor from Clip2Net?"</p>


<h2>Contacts</h2>
<p>Bug reports, features, questions. Send them here:</p>
<p>Email: <a href="mailto:duskjet@gmail.com">duskjet@gmail.com</a></p>